<h2 class="start">My IBM</h2>
<hr>
<h1 class="titleUser">Olá, o seu espaço está pronto !!</h1>
<h3 class="subTitle">Faça com que seus projetos superem todos os desafios e impulsionem o crescimento da sua <br>
empresa</h3>

<mat-card class="redirectCard">
    <mat-card-title>Conheça nossos produtos !</mat-card-title>
    <p>Veja os produtos que podem atender a sua necessidade e de seu negocio</p>
    <mat-card-actions class="redirectButton">
        <button mat-button>Visualizar produtos</button>
    </mat-card-actions>
</mat-card>
