<mat-grid-list cols="1" rowHeight="2:0.8" class="baner">
    <mat-grid-tile>
        <div class="textlatel"> <strong>Descubra mais sobre Think 2022</strong> </div>
        <div> <strong>Veja o replay dos segmentos e registre-se para laboratórios autônomos, certificações e mais</strong> </div>
        <img src="assets/inicio.jpg" class="inicioImg">
    </mat-grid-tile>
</mat-grid-list>
    
<hr>
<div class="lateral">
    <strong>Conheça a IBM ==></strong> 
</div>

<mat-card class="sequenciaImg1">
    <img mat-card-md-image src="assets/download.png" class="imagem">
    <mat-card-title class="titulo1">Conecte seus dados onde você estiver</mat-card-title>
    <mat-card-content>Inove rapidamente com acesso simplificado para a analise e Ia</mat-card-content>
</mat-card>

<mat-card class="sequenciaImg2">
    <img src="assets/imagemInfra.png" class="imagemInfra">
    <mat-card-title class="titulo2">Simplifique a <br> infraestrutura da sua <br> empresa</mat-card-title>
    <mat-card-content>A maioria dos tomadores de decisão acha que TI é mais complexa hoje do que há dois anos</mat-card-content>
</mat-card>

<mat-card class="sequenciaImg3">
    <img src="assets/imagemEmpresa.png" class="imagemEmpresa">
    <mat-card-title class="titulo3">Leve seu negocio mais <br> longe com IBM Consulting</mat-card-title>
    <mat-card-content>Junto podemos transformar ideias em ações</mat-card-content>
</mat-card>

<mat-card class="divisao">
    <mat-card-title class="titulo4">305% de ROI alcançado com IBM FlashSystem</mat-card-title>
</mat-card>

<div class="lateral"> <strong>Produtos ==></strong> </div>

<mat-card class="cloud">
    <img src="assets/cloudImg.png" class="cloudImg">
    <mat-card-title class="tituloCl">IBM Cloud Pak for Data</mat-card-title>
    <mat-card-content>Com o IBM Cloud Pak for Data <br> você tera um melhor gerenciamento <br> de dados em qualquer nuvem.
        Acesse seus dados 8 vezes mais rapido e aumente a sua produtividade em 65%
    </mat-card-content>
</mat-card>

<mat-card class="assistant">
    <img src="assets/assistenteIbm.webp" class="assistente">
    <mat-card-title class="tituloAss">Watson assistant</mat-card-title>
    <mat-card-content>Com a Ia da IBM aplicada a um agente virtual, sua empresa pode oferecer <br> experiencias excepcionais aos seus clientes</mat-card-content>
</mat-card>

<mat-card class="segurança">
    <img src="assets/imgSegurança.webp" class="imgSegurança">
    <mat-card-title class="tituloSeg">IBM Security QRadar XDR</mat-card-title>
    <mat-card-content>A solução de detecção e resposta a ameaças mais aberta e completa do setor</mat-card-content>
</mat-card>