<div class="title">
    <h1>IBM Cloud</h1>
</div>
<hr>

<mat-card>
    <mat-card-title>Pak for Data</mat-card-title>
    <mat-card-subtitle>Predict outcomes faster using a platform built with data fabric architecture. Collect, organize and analyze data, no matter where it resides.</mat-card-subtitle>
    <img src="assets/cloudImg.png">
    <p class="firstTxt">IBM Cloud Pak® for Data platform helps improve productivity and reduce complexity. 
        Build a data fabric connecting siloed data distributed across a hybrid cloud landscape.
        <br>
        This product offers a wide selection of IBM and third-party services spanning the entire data lifecycle.
         Deployment options include on-premises software version built on the Red Hat® OpenShift® 
        container platform, or a fully managed version built on the IBM Cloud®. </p>
</mat-card>
<hr>

<div class="title">
    <h1>IBM Aritificial Inteligence</h1>
</div>
<hr>

<mat-card>
    <mat-card-title>Watson Assistent</mat-card-title>
    <mat-card-subtitle>Com a IA da IBM sua empresa pode oferecer experiências excepcionais aos seus clientes</mat-card-subtitle>
    <img src="assets/assistenteIbm.webp">
    <p>O IBM Watson Assistant é um agente virtual que usa uma inteligência artificial que entende os clientes
        em diferentes contextos e fornece respostas rápidas, consistentes e precisas em qualquer aplicativo, 
        dispositivo ou canal. Os chatbots tradicionais podem possuir capacidades muito limitadas gerando mais 
        frustração aos seus clientes com tempos de espera longos e procuras tediosas. Remova os obstáculos 
        entre os consumidores e seus objetivos finais, e aumente a satisfação do cliente ao oferecer uma 
        experiência integrada com todos os canais de atenção</p>
</mat-card>
<hr>

<div class="title">
    <h1>IBM Security</h1>
</div>
<hr>

<mat-card class="finalCard">
    <mat-card-title>Security QRadar XDR</mat-card-title>
    <mat-card-subtitle>Detecte e elimine ameaças mais rapidamente com o conjunto XDR líder de mercado</mat-card-subtitle>
    <img src="assets/imgSegurança.webp">
    <p>O cenário de ameaças de hoje exige visibilidade, automação e insights contextuais com uma abordagem
    robusta e aberta. O IBM Security® QRadar® XDR fornece um fluxo de trabalho unificado em todas as suas
    ferramentas.</p>
</mat-card>